<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container"
    style="background: linear-gradient(
        180deg,
        #221959,
        #3e328c,
        #542ea6,
        #7630d9
    );
    font-family: Avenir, Helvetica, Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;">
        <div class="card"
        style=" margin-top: 30px;
        margin-bottom: 30px;
        background-color: white;
        width: 80vw;
        padding:10px;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);">
            <div class="card-header" 
            style="justify-content: center; display: grid;"
            >
                <p>Hello <b>Paule</b> 👋🏻,</p> <br>
                <p>Your message:</p>
            </div>
            <div class="card-body"
            style="margin-left: 1em;
            padding-left: 1em;
            margin-right: 1em;
            border-radius: 4px;
            background-color: rgb(233, 233, 233);
            border-left: solid 5px #6e81e3;">
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum, ducimus magni neque fugiat libero hic sed tempore, ea facere nostrum, itaque sunt nemo tempora? Itaque unde aut veniam id eligendi?
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat voluptate soluta provident debitis beatae et laudantium eius voluptatum, nostrum inventore dolor molestiae, eligendi quo. Repellendus facilis aperiam at ab illum?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam inventore minima sapiente earum, ut explicabo ipsum numquam adipisci nostrum quod reprehenderit deserunt incidunt tempore minus totam cumque hic deleniti architecto.
                </p>
            </div>
            <div class="card-footer"
            style=" margin-top:1em;
            display: flex;
            justify-content: center;">
                <p>I will get back in touch 🚀<br /><a href="benyaminbenshabat.dev" target="_blank">Benyamin Benshabat</a></p>

            </div>
        </div>
    </div>
</body>

<style>

</style>
</html>